@import url(http://fonts.googleapis.com/css?family=Roboto:100);

body{
	font-family: 'Roboto';
	font-weight: 200;
}
.section-background{
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	text-transform: uppercase;
	background: url('../images/showcase.png');
	margin-bottom: 100px;
}
.sight
{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 66px 2px;
}
.title{
	letter-spacing: 8px;
	font-size: 40px;
	text-decoration: overline;

}
.subtitle{
	letter-spacing: 5px;
	font-size: 22px;
}
.pages{
	text-align: center;
	text-transform: uppercase;
}
.page-title{
	font-size: 20px;
	letter-spacing: 5px;
	color: #444;
	padding: 0px 0px 20px 0px;
	
}
.page-img{
	width: 100%;
	transition: all .4s ease-in-out;
}
.page-img:hover{
	box-shadow: 0px 0px 20px #000;
}
footer{
	background: #ededed;
	text-align: center;
	margin: 200px 0px 0px;
}
.copy{
	padding: 30px 0px;
	color: #999;
	margin: 0px;
	font-size: 14px;
	
}
a {
	display:inline-block;
}
.post h2 h1{
	color: #4260b4;
}
.menu  {
	margin-top:-95px;
}

.menu ul li {
	display: block;
	margin-left: 20px;
	font-size: 20px;
	border-radius: 10px;
	border:solid green 1px;
	text-align: center;
		
	padding: 10px;
}
.menu ul {
	display : flex;
}
.post {
	margin-left: 50px;
	margin-right: 20px;
	font-size: 18px;
	
	  
}


@media (max-width: 992px){
	.page-img{
		margin-bottom: 50px;
	}
} 
